body{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 50vh;
    background-color: #fae100;
    transition: background-color 0.2s ease;
    flex-direction: column;
    font-family: monospace;
    gap: 80px;
}

input[type="text"]{
   
   padding: 15px 32px;
   font-size: 18px;
   font-weight: bold;
   width: 900px;
   color: rgb(255, 255, 255);
   background-color: #332915;
   border: none;
   box-shadow: 0 4px 6px rgba(0,0,0,0.2);
   transition: transform 0.1s ease, background-color 0.2s ease;
   font-family: monospace;

}
input[type="text"]:hover {
   background-color: #1b150a;
}
p{
    font-size: 40px;
    font-weight: bold;
    color: #2c2412;
    transition: transform 0.1s ease, background-color 0.2s ease;
    border-radius: 8px;
}